body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.about-container {
  position: relative;
  display: inline-block;
  height: 100%;
}

/* About.css */

.about-2 {
  max-width: 800px; /* Set maximum width for better readability */
  margin: 0 auto; /* Center the content horizontally */
  /* padding: 0 20px; */
  text-align: center; /* Center align the text */
}

.about-2 h2 {
  font-size: 2rem; /* Adjust heading font size for smaller screens */
  color: chartreuse;
  font-weight: 700;
  font-family: sans-serif;
}

.about-2 p {
  font-size: 1.3rem; /* Adjust paragraph font size for smaller screens */
  line-height: 1.4; /* Adjust line height for better readability */
  font-weight: 700;
  font-family: sans-serif;
  color: blanchedalmond;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  /* background-color: #2b332b; */
  /* background-color: var(--green); */
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 1000;
  font-family: sans-serif;
  letter-spacing: 2px;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
  transition-delay: 0.2s;
}

.button:hover {
  background-color: #fff; /* Darker green on hover */
}

.about .skill {
  display: flex;
  position: relative;
  top: 0;
  left: 5%;
}

/* Adjust styles for smaller screens */
@media (max-width: 768px) {
  .about {
    grid-template-columns: fr; /* Change to a single column layout on smaller screens */
  }

  .about .about-2 {
    padding: 0px 20px; /* Reduce padding for smaller screens */
    grid-row: 1.5;
  }

  .about-2 h2 {
    font-size: 1.5rem; /* Reduce heading font size for smaller screens */
  }

  .about-2 p {
    font-size: 0.9rem; /* Reduce paragraph font size for smaller screens */
  }

  .about .skill {
    width: 100%;
    height: 95%;
  }
}
