.caption {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home {
  height: 100vh; /* Set height to fill the viewport */
  animation: transitionIn 2s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-120deg);
  }
  to {
    /* background-color: rgb(39, 37, 37); */
    opacity: 1;
    transform: rotateX(0);
  }
}

.box {
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 0.375rem;
  width: 100%;
  max-width: 550px;
  height: 50vh;
  max-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.custom-border .custom-text h4 {
  font-size: 2.5rem;
  font-family: Arial, sans-serif;
  padding: 0px 25px;
  margin: -30px 0px;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #00ff7357,
      0 0 35px #00ff7357, 0 0 40px #00ff7357, 0 0 50px #00ff7357;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #00ff7357,
      0 0 35px #00ff7357, 0 0 40px #00ff7357, 0 0 50px #00ff7357;
  }
}

.custom-border .custom-name h1 {
  font-size: 5.5rem;
  font-family: "Londrina Shadow";
}

.custom-name h1:hover {
  animation: glow 1s ease-in-out infinite alternate;
}

.custom-border .custom-pos {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  padding-right: 0px 0px;
  margin: -30px 0px;
}

@media screen and (max-width: 768px) {
  .box {
    width: 95%;
    max-width: 320px;
    height: 30vh;
  }

  .custom-border .custom-text h4 {
    font-size: 1.4rem;
    font-family: Arial, sans-serif;
    padding: 0px 18px;
    margin: -20px 0px;
  }

  .custom-border .custom-name h1 {
    font-size: 3rem;
    font-family: "Londrina Shadow";
  }

  .custom-border .custom-pos {
    font-size: 1.4rem;
    font-family: Arial, sans-serif;
    padding-right: 0px 0px;
    margin: -20px -16px;
  }
}
