/* .area {
  margin-left: 5rem;
} */
@media (max-width: 768px) {
  .mapbox .area {
    height: 50vh; /* Adjust the height for mobile devices */
    width: 80vw; /* Adjust the width for mobile devices */
  }
}
